transformers
datasets
sentencepiece
safe_rlhf
safetensors
accelerate 
bitsandbytes
git+https://github.com/PKU-Alignment/safe-rlhf.git
git+https://ghproxy.com/https://github.com/PKU-Alignment/safe-rlhf.git